#game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 10px;
}
/* Stilurile pentru container */
#app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.row {
  display: flex;
  flex-direction: row;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: #000;
}

.box {
  height: 25px;
  width: 25px;
}

.horizContainer {
  height: 4px;
  width: 25px;
  border: 2px;
}

.vertContainer {
  height: 25px;
  width: 4px;
  border: 2px;
}

#board {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  margin: 10px
}

#header {
  text-align: center;
}

button {
  margin-top: 10px;
}